
.container {
    position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.overlay {
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #A9A9A9;
}

.overlayTxt {
  color: #000000;
  position: absolute;
  opacity: 0;
  top: 40%;
  height: 100%;
  width: 100%;
  font-size: 6vh;
  text-align: center;
}

.container:hover .overlay {
  opacity: 0.3;
}
.container:hover .overlayTxt {
  opacity: 0.7;
}
